
/* Contact/ footer*/
#social {
    display: flex;
    justify-content: center; /* Cambiado para centrar los íconos */
    align-items: center;
}


footer {
    background-color: #000000;
    color: white;
}
i {
    font-size: 20px;
}

i:hover {
    color: #b069db;
}

li {
    list-style-type: none;
    float: left;
    margin: 5px;
}

a:any-link {
    color: white;
}
a:-webkit-any-link {
    color: white;
}
a:-moz-any-link {
    color: white;
}

h1 {
    font-family: "Roboto Mono", monospace;
    font-size: 40px;
}
h2 {
    font-family: "Roboto Mono", monospace;
    font-size: 30px;
}
h3 {
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
}
body {
    font: 200 15px/1.5 "Barlow", sans-serif;
}
.post{
    font-size: 15px;
}
.name{
    font-weight: 300;
}