/** General Css **/
* {
    margin: 0;
    padding: 0;
}
body {
    font: 200 15px/1.5 "Barlow", sans-serif;
    background-color: #f0f0f0;
    padding-left: 200px;
    padding-right: 200px;
}

/** Css for ids and tables **/
h2 {
    font-family: "Roboto Mono", monospace;
}
h1 {
    font-family: "Roboto Mono", monospace;
    font-size: 40px;
    padding-bottom: 30px;
    padding-top: 30px;
}
h3 {
    font-family: "Roboto Mono", monospace;
    font-size: 30px;
}

div {
    padding-top: 50px;
    padding-bottom: 50px;   
}

i {
    font-size: 20px;
}

li {
    list-style-type: none;
    float: left;
    margin: 5px;
}

.footer {
    background-color: #000000;
    color: white;
    padding: 5px;
    text-align: center; /* Añadido para centrar el texto */
}

#social {
    display: flex;
    justify-content: center; /* Cambiado para centrar los íconos */
    align-items: center;
    padding: 0px 0; /* Ajuste de padding */
}

#title {  /* Corregido de #tittle a #title */
    padding-bottom: 21px;
}

#version {
    text-align: right;
    font-size: 17px;
}

#footer {
    padding: 0px;
    color: white;
    background-color: #000000;
}

img {
    max-width: 100%;  /* Para que las imágenes no se desborden */
    height: auto;
}

#about {
    display: flex; /* Usar flexbox */
    align-items: flex-end; /* Alinear el contenido en la parte inferior */
    margin-bottom: 20px; /* Ajuste de margen */
}

#about img {
    max-width: 50%; /* Ajusta el tamaño de la imagen si es necesario */
    height: auto;
    margin-right: 0px; /* Espacio entre la imagen y el texto */
}
#about h3 {
    font-size: 20px; 
}
#about p {
    padding: 0px 20px 0px 10px; /* Ajuste de margen */
    font-size: 12px;
}
